<h1>Reset Your Password</h1>
<p>You requested a password reset. Click the link below to reset your password:</p>
<p><a href="{{resetUrl}}">Reset Password</a></p>
<p>This link will expire in {{validMinutes}} minutes.</p>
